.open-boxer-details{
    color: $main-green;
    font-size: $font-size-mid;
}
.open-boxer-details:hover{

    cursor: pointer;
    color: $green;
}
.navbar{
    border-bottom: 1px solid $main-green;
}
.title{
    color: $main-green;
}